{% extends 'template_base.html' %}

{% block contenue %}

<div class="container mt-4">
    <h1 class="text-center mb-4 text-white">Ajouter un Médecin</h1>

    <!-- Modal Ajouter Médecin -->
    <div class="modal fade show" id="modalMedecin" tabindex="-1" aria-labelledby="modalMedecinLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalMedecinLabel">Créer un Médecin</h5>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong> : {{ field.errors|striptags }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="row g-3">
                            <!-- Colonne gauche -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nom</label>
                                    <input type="text" name="last_name" class="form-control" placeholder="Nom" required>
                                </div>
    
                                <div class="mb-3">
                                    <label class="form-label">Prénom</label>
                                    <input type="text" name="first_name" class="form-control" placeholder="Prénom" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Sexe</label>
                                    <select name="sexe" class="form-select" required>
                                        <option value="Masculin">Masculin</option>
                                        <option value="Féminin">Féminin</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="specialite" class="form-label">Spécialité</label>
                                    <select class="form-select input-focus-blue" id="specialite" name="specialite" required>
                                        {% for specialite in specialite %}
                                            <option value="{{ specialite.id }}">{{ specialite.designation }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                 
                            </div>

                            <!-- Colonne droite -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Date de naissance</label>
                                    <input type="date" name="date_naissance" class="form-control" required>
                                </div>
                                 
                                <div class="mb-3">
                                    <label class="form-label">Lieu de naissance</label>
                                    <input type="text" name="lieu_naissance" class="form-control" placeholder="Lieu de naissance">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Lieu de résidence</label>
                                    <input type="text" name="lieu_residence" class="form-control" placeholder="Lieu de résidence">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Téléphone</label>
                                    <input type="text" name="telephone" class="form-control" placeholder="Téléphone" required>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Photo</label>
                                    <input type="file" name="image" class="form-control">
                                </div>
                            </div>


                        </div>
                        <div class="mb-4">   
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse" required>
                        </div>

                        <div class="text-end">
                            <a href="{% url 'medecin:medecin' %}" class="btn btn-secondary px-4 py-2 btn-sm">Annuler</a>
                            <button type="submit" class="btn btn-primary px-4 py-2 btn-sm">Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    window.onload = function() {
        var myModal = new bootstrap.Modal(document.getElementById("modalMedecin"), {
            keyboard: false
        });
        myModal.show();
    }
    function fermerModal() {
        var modal = document.getElementById('modalMedecin');
        modal.style.display = 'none';
        modal.classList.remove('show');
        document.body.classList.remove('modal-open');
        var backdrop = document.querySelector('.modal-backdrop');
        if (backdrop) {
            backdrop.remove();
        }
    }
</script>

{% endblock %}
