{% extends 'template_base.html' %}

{% block contenue %}
<div class="container mt-4">
    <h1 class="text-center">Détails du Tuteur</h1>
    <table class="table table-striped text-justify">
        <tr>
            <th>ID</th>
            <td>{{ tuteur.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ tuteur.nom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ tuteur.email }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ tuteur.num_tel }}</td>
        </tr>
    </table>
    <div class="text-end mt-3">
        <a href="{% url 'Adherent:Adherent' %}" class="btn btn-secondary">Retour</a>
    </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="tuteurModal" tabindex="-1" aria-labelledby="tuteurModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tuteurModalLabel">Détails du Tuteur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ tuteur.image.url }}" class="rounded-circle img-fluid mb-3" width="150" alt="Image du Tuteur">
                <!-- Centrer l'image -->
            </div>
            <div class="modal-body">
                <table class="table text-justify">
                    <tr>
                        <th>ID</th>
                        <td>{{ tuteur.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ tuteur.nom }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ tuteur.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ tuteur.num_tel }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a href="{% url 'Tuteur:modifier' tuteur.id %}" class="btn btn-warning px-4 py-2 btn-sm">Modifier</a>
                <a href="{% url 'Tuteur:supprimer' tuteur.id %}" class="btn btn-danger px-4 py-2 btn-sm">Supprimer</a>
                <a href="{% url 'Tuteur:Adherent' %}" class="btn btn-secondary px-4 py-2 btn-sm">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- Trigger the modal on page load -->
<script>
    window.onload = function() {
        var myModal = new bootstrap.Modal(document.getElementById('tuteurModal'), {
            keyboard: false
        });
        myModal.show();
    }
</script>

{% endblock %}
